.aside {
	padding-block-start: 0.75rem; /* 12/16 */
	flex-basis: 24.5%;
	flex-shrink: 0;
	// .aside__refer

	&__refer {
		font-family: var(--font-family-second);
		font-weight: 700;
		font-size: 1.3rem;
		margin-block-end: 0.75rem; /* 12/16 */
		a {
			color: var(--color-white);
			background: var(--color-orange) url("../img/icons/white_circle_arrow.png") 0.65rem 50% no-repeat;
			border-bottom: 0.1875rem solid var(--color-grey-15);
			padding: 0.875rem 1.3rem 0.875rem 2.6rem;
			white-space: nowrap;
		}
	}

	// .aside__column

	&__column {
		font-family: var(--font-family-second);
		margin-block-end: 1.5rem; /* 24/16 */
		h2 {
			line-height: 1.5;
			font-size: 2rem; /* 32/16 */
			margin-block-end: 0.65rem;
		}
		ul {
			display: flex;
			flex-direction: column;
			row-gap: 0.65rem;
			font-weight: 700;
			font-size: 1.3rem;
			line-height: 1.15; /* 24/20.8 */
			a {
				padding: 0.65rem 1.3rem;
				inline-size: 100%;
				max-inline-size: 13.5rem; /* 216/16 */
				border-block-end: 0.1875rem solid var(--color-blue-25);
				background: var(--color-blue-90);
				color: var(--color-white);
				transition: all 0.3s ease;
				&.active {
					color: var(--color-black);
				}
				@media (any-hover: hover) {
					&:hover {
						background: var(--color-orange);
						border-block-end: 0.1875rem solid var(--color-grey-15);
					}
				}
			}
		}
	}

	// .aside__list

	&__list {
		display: flex;
		flex-direction: column;
		row-gap: 0.5rem; /* 8/16 */
		line-height: 1.5;
		&--margin-bottom {
			margin-block-end: 1.75rem; /* 28/16 */
		}
		> li > a {
			color: var(--color-brown-80);
		}
		> li > ul {
			color: var(--color-blue-25);
			padding-inline-start: 0.81rem; /* 12.96/16 */
			border-inline-start: 0.125rem solid var(--color-grey-25);
			font-size: 0.9rem; /* 14.4/16 */
		}
		a {
			@media (any-hover: hover) {
				transition: color 0.3s;
				&:hover {
					text-decoration: underline;
					color: var(--color-blue-90);
				}
			}
		}
	}
	// .aside__links

	&__links {
		h2 {
			font-family: var(--font-family-second);
			font-size: 2rem; /* 32/16 */
			line-height: 1.5;
			margin-block-end: 0.25rem; /* 4/16 */
		}
	}
}
