.topbar {
	background: var(--color-blue-30);
	font-family: var(--font-family-second);
	color: var(--color-white);
	font-weight: 700;
	min-block-size: 4.3125rem; /* 69/16 */
	line-height: 1.5;
	display: flex;
	align-items: center;
	// .topbar__container
	&__container {
		padding-block: 1rem; /* 16/16 */
		display: flex;
		align-items: center;
		inline-size: 100%;
		@media (min-width: 1199.98px) {
			column-gap: 2rem; /* 32/16 */
		}
		@media (max-width: 1199.98px) {
			gap: 1rem; /* 16/16 */
		}
		@media (max-width: 629.98px) {
			flex-wrap: wrap;
			justify-content: center;
		}
	}

	&__list,
	&__icons,
	&__btns,
	&__links {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		row-gap: 0.5rem; /* 8/16 */
	}

	// .topbar__list

	&__list {
		@media (min-width: 1199.98px) {
			column-gap: 2rem; /* 32/16 */
		}
		@media (max-width: 1199.98px) {
			column-gap: 1rem; /* 16/16 */
		}
	}

	// .topbar__name

	&__name {
		word-break: break-word;
		a {
			@media (any-hover: hover) {
				&:hover {
					text-decoration: underline;
				}
			}
		}

		@media (max-width: 1199.98px) {
			max-inline-size: 12.25rem;
		}
		@media (max-width: 849.98px) {
			display: none;
		}
	}

	&__number,
	&__email {
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}

	// .topbar__mail

	&__mail a,
	&__phone a {
		display: flex;
		align-items: center;
		column-gap: 0.5rem; /* 8/16 */
	}
	&__mail a {
		.topbar__icon {
			flex-basis: 1.4375rem; /* 23/16 */
			inline-size: 1.4375rem; /* 23/16 */
			block-size: 1.3125rem; /* 21/16 */
			flex-shrink: 0;
			aspect-ratio: 23 / 21;
		}
	}
	&__phone a {
		.topbar__icon {
			flex-basis: 1.3125rem; /* 21/16 */
			inline-size: 1.3125rem; /* 21/16 */
			block-size: 1.3125rem; /* 21/16 */
			flex-shrink: 0;
			aspect-ratio: 1;
		}
	}
	&__email {
		@media (max-width: 991.98px) {
			display: none;
		}
	}

	// .topbar__icons

	&__icons {
		column-gap: 1rem; /* 16/16 */
		a {
			display: flex;
			align-items: center;
			max-inline-size: 1.25rem; /* 20/16 */
			flex-shrink: 0;
			transition: opacity 0.3s;
			@media (any-hover: hover) {
				&:hover {
					opacity: 0.8;
				}
			}
		}
	}

	// .topbar__links

	&__links {
		column-gap: 1rem; /* 16/16 */
		a {
			padding-block: 0.18rem; /* 2.88/16 */
			padding-inline: 0.9rem; /* 14.4/16 */
			background: var(--color-green-60) url("/img/topbar/green_bubble_bg.png") no-repeat -3.125rem 0.9375rem;
			box-shadow: 0 0.1875rem 0.0625rem #387ab2;
			border-radius: 0.125rem;
			font-size: 0.9rem; /* 14.4/16 */
			line-height: 1.667; /* 24/14.4 */
		}
		@media (max-width: 479.98px) {
			justify-content: center;
		}
	}
	// .topbar__link

	&__link {
		&--renew,
		&--member {
			a {
				@media (any-hover: hover) {
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
		&--log-out {
			a {
				@media (any-hover: hover) {
					&:hover {
						background: var(--color-blue-90);
					}
				}
			}
		}
	}

	// .topbar__link--renew

	&__link--renew {
	}

	// .topbar__link--member

	&__link--member {
	}

	// .topbar__link--log-out

	&__link--log-out {
	}
}
