.breadcrumb {
	line-height: 1.5;
	margin-block-end: 0.5rem; /* 8/16 */
	a {
		color: var(--color-blue-40);
		text-decoration: underline;
		@media (any-hover: hover) {
			&:hover {
				text-decoration: inherit;
				color: var(--color-blue-50);
			}
		}
	}
	li:not(:last-child) {
		&::after {
			content: " › ";
			margin-inline: 0.25rem; /* 4/16 */
		}
	}
}
